# -----------------------------------------------------------
# ENV & SECRETS
# -----------------------------------------------------------
.env

# -----------------------------------------------------------
# LOGS (generated automatically)
# -----------------------------------------------------------
*.log
logs/
Data Engineering Course Project/logs/

# -----------------------------------------------------------
# PYTHON CACHE (never commit this)
# -----------------------------------------------------------
__pycache__/
*.pyc
Data Engineering Course Project/src/__pycache__/

# -----------------------------------------------------------
# JUPYTER
# -----------------------------------------------------------
.ipynb_checkpoints/

# -----------------------------------------------------------
# OS FILES
# -----------------------------------------------------------
.DS_Store
Thumbs.db

__MACOSX/
**/__MACOSX/
._*
**/._*


# Exercise 1 - downloaded raw data (very large, auto-downloaded)
exercise1/downloads/

